* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    margin-top: 1rem;
}

.movie_information{
    margin-top: 1rem;
    font-size: large;
}

.error_message{
    visibility: hidden;
    display: none;
    margin-top: 1rem;
    color: red;
}

img{
    max-width: 100%;
}

.form_div{
    margin-top: 1rem;
}